[submodule "backend2"]
	path = backend2
	url = https://github.com/fitraelbi/cashier-restaurant-app-nodejs3.git
[submodule "frontend2"]
	path = frontend2
	url = https://github.com/fitraelbi/cashier-restaurant-app-vue.git
